/* 
    Document   : main
    Created on : Aug 9, 2013, 2:44:00 PM
    Author     : sameernilupul
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-image: url('http://idea2013.info/iesl/hangouts/MoodleLive/hangouts/resources/background.jpg');
}
h1{
    color: green;
}
